@import '../../../style.scss';

.lists {
  @include themify($themes) {
    padding: 20px;

div {

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
    
      span {
        font-size: 12px;
        color: themed("textColorSoft");
      }
    
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
    
        img {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          object-fit: cover;
        }
    
        span {
          font-size: 14px;
        }
      }
    
      .item {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    
       
    
        img {
          width: 25px;
        }
    
        span {
          font-size: 12px;
          color: themed("textColor");
        }
      }
    
      .currentUser {
       border-bottom: 1px solid themed("border");
       padding-bottom: 15px;
         
       img {
         width: 25px;
         height: 25px;
         border-radius: 50%;
         object-fit: cover;
     }
      }
    }
    hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }
}

   }
  
  
}